*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.home{
    background-color: #f7df1e;
    width: 100%;
    /* height: 100vh; */
}

.title{
    width: 100%;
    height: auto;
    padding: 80px 10px 50px 50px;
}

.title .boxcontent p{
    display: inline-block;
    background: #000;
    color: #fcdc00;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 20px;
    font-weight: bold;
}

.title .normcontent p{
    font-size: 90px;
    letter-spacing: -5px;
    line-height: unset;
    font-weight: bold;
    text-transform: none;
    color: #181818;
}

.title .libraries p{
    margin-top: -20px;
    font-size: 68px;
    font-style: italic;
    color: #181818;
}

.title .libraries span{
    font-style: italic;
    letter-spacing: -1px;
    padding-left: 10px;
    font-size: 45%;
    color: #363636;
}

.tryjs{
    /* background-color: antiquewhite; */
    width: 70%;
    margin-left: 16%;
    padding-bottom: 100px;
    padding-top: 50px;
}

.tryjs .ready{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;
}

.tryjs .trycontent{
    font-size: 18px;
    padding-bottom: 15px;
    line-height: 35px;
}

.tryjs .trycontent span{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    color: rgb(84, 84, 84);
    /* font-weight: bold; */
    padding: 5px 10px 5px 10px;
}

.tryjs .input{
    background: rgba(18,18,18,.9);
    height: 60px;
    /* padding: 10px 10px 15px 40px; */
    border: 0;
    border: rgba(18,18,18,.1);
    color: white;
    font-size: 22px;
    font-weight: 500;
    transition: background .4s linear;
    display: flex;
}

.tryjs .input .icon{
  width: 40px;
  padding-top: 25px;
  padding-left: 10px;
  border: rgba(18,18,18,.1);
}
.tryjs .input .icon i{
    font-size: 40px;
    border: rgba(18,18,18,.1);
}
.tryjs .input input{
    width: 100%;
    font-size: 25px;
    background: rgba(18,18,18,.1);
    border: rgba(18,18,18,.1);
    transition: background .4s linear;
    outline:0;
    padding-left: 20px;
    color: white;
}

.tryCourses{
/* background-color: #f05a28; */
display: grid;
place-items: center;
}


.tryCourses .tryBtn{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    padding: 15px 30px;
    white-space: normal;
    border-radius: 2px;
    color: #fff;
    background: #ec008c;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: box-shadow .3s ease-in-out;
    margin: 0 0 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.tryBtn:hover,.tryBtn:focus {
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    background: linear-gradient(145deg,#f05a28 0,#ec008c 100%);
    color: white;
}